.info__root {
    background-color: white;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.info__content {
    position: absolute;
    top: 8vh;
    width: 95%;
    height: 82vh;
    overflow-y: scroll;
}
