.red {
  background-color: #E64646 !important;
}

.orange {
  background-color: #FFA000 !important;
}

.yellow {
  background-color: #FFC107 !important;
}

.green {
  background-color: #2F9A5A !important;
}

.blue {
  background-color: #2787F5 !important;
}

.deep_blue {
  background-color: #4367A3 !important;
}

.violet {
  background-color: #792EC0 !important;
}

.black {
  background-color: #000000 !important;
}

.white {
  background-color: #ffffff !important;
}
